<h1 mat-dialog-title>Add New Target</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="targetTypeFormGroup" label="Type">
      <form [formGroup]="targetTypeFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select formControlName="targetTypeCtrl" required>
            <mat-option value="path">System Path</mat-option>
            <mat-option value="google">Google Account</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="targetType === 'path' ? pathDetailsFormGroup : googleDetailsFormGroup" label="Details">
      <div *ngIf="targetType === 'path'; else googleDetails">
        <!-- Hullo? -->
        <form [formGroup]="pathDetailsFormGroup" >
          <button mat-raised-button color="primary" (click)="selectPath()">Select path</button>
          <mat-form-field>
            <mat-label>Selected path:</mat-label>
            <input matInput formControlName="pathCtrl" required readonly>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
      <ng-template #googleDetails>
        <button mat-raised-button color="primary" (click)="getGoogleAccount()">Add account</button>
        <form [formGroup]="googleDetailsFormGroup" >
          <mat-form-field>
            <mat-label>Selected email:</mat-label>
            <input matInput formControlName="emailCtrl" required readonly>
          </mat-form-field>
          <mat-form-field hidden style="display: none;">
            <input matInput formControlName="accessTokenCtrl" required hidden>
          </mat-form-field>
          <mat-form-field hidden style="display: none;">
            <input matInput formControlName="refreshTokenCtrl" required hidden>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </ng-template>

    </mat-step>
    <mat-step label="Apply">
      <h2>Click Apply to persist the changes</h2>

      <span class="apply-label">Account Type:</span>
      <span class="apply-value">{{targetType === 'path' ? 'System Path' : 'Google Account'}}</span>

      <span class="apply-label">Details:</span>
      <span class="apply-value" *ngIf="targetType === 'path'">
        Path: {{pathDetailsFormGroup.get('pathCtrl').value}}
      </span>
      <span class="apply-value" *ngIf="targetType === 'google'">
        Email: {{googleDetailsFormGroup.get('emailCtrl').value}}
      </span>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
        <button mat-button color="primary" (click)="applyChanges()">Apply</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
